@import "tailwindcss";
@import '@fontsource/plus-jakarta-sans/200.css';
@import '@fontsource/plus-jakarta-sans/300.css';
@import '@fontsource/plus-jakarta-sans/400.css';
@import '@fontsource/plus-jakarta-sans/500.css';
@import '@fontsource/plus-jakarta-sans/600.css';
@import '@fontsource/plus-jakarta-sans/700.css';
@import '@fontsource/plus-jakarta-sans/800.css';

@font-face {
  font-family: 'Kronika';
  src: url('/fonts/KRONIKA_.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  @keyframes fade-in-slide {
    0% {
      opacity: 0;
      transform: translateY(1.5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-slide {
    animation: fade-in-slide 0.6s ease-out forwards;
  }
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-kronika {
  font-family: 'Kronika', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}