#experiment-input {
  margin: 20px 30px 30px 30px;
  width: auto;
  display: flex;
  height: 100%;
}

#experiment-output {
  margin: 20px 0px 30px 30px;
  width: auto;
  display: flex;
  height: 100%;
}

#experiment-grammar {
  margin: 20px 50px 50px 50px;
  max-height: 90vh;
  overflow: auto;
}

#form-eval {
  width: 100px;
}

form {
  flex-flow: row;
  display: flex;
  align-items: center;
}
