label.section {
  font-weight: bold;
  text-align: center;
}

select {
  background-color: white;
  padding: 3px;
  border: 1px solid black;
  margin: -3px;
}

.controls {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px 0;
}

.buttons {
  display: inline-flex;
  gap: 1rem;
}

#playground {
  gap: 20px;
  padding: 10px 20px;
  height: 100vh;
  position: relative;
}

#experiment-input {
  width: auto;
  display: flex;
  height: 100%;
  margin: 2px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 13px;
}

#experiment-output {
  border: 1px solid;
  width: auto;
  display: flex;
  height: 100%;
  margin: 2px;
}

#experiment-grammar {
  background-color: white;
  border: 1px solid;
  overflow: auto;
  flex-grow: 1;
  margin: 2px;
}

#grammar-wrapper {
  padding: 8px;
}

#output {
  overflow: hidden;
}

#grammar {
  height: 100%;
}

#form-eval {
  width: 100px;
}

.icon-button {
  background: none;
  border: none;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button img {
  margin: auto;
}
