---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<main>
		<h1>About BABLR</h1>
		<h2>The program that wants to write itself.</h2>
		<p>
			In 2020 The Inventor was intriugued with the idea that embedding
			rich information in text can be much better. If a program knows
			everything about itself, it can lead you in the writting of itself.
			Why not let programs guide us to what they want instead of using a
			cluster of tools that aren't up to the task.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 960px;
		max-width: calc(100% - 2rem);
		color: Black;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		text-align: center;
	}
</style>
