---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CTAButton from "../components/CTAButton.astro";
---

<Layout title="BABLR">
	<h1>Welcome to &lt;<span class="text-gradient">BABLR</span>&gt;</h1>
	<div class="link-container">
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/bablr-lang"
				title="Github"
				body="Learn about BABLR and its mission."
			/>
			<Card
				href="https://discord.gg/pTbg4JGEZp"
				title="Community"
				body="Join our Discord and help with the development."
			/>
			<Card
				href="/tutorials"
				title="Getting Started"
				body="Check out some tutorials and write your first language!"
			/>
			<Card href="/docs" title="Documentation" body="Read the docs." />
		</ul>
	</div>

	<roadmap>
		<div class="content">
			<div class="text-space">
				<h2>Roadmap</h2>
				<p>Where are we going?<br />Where have we been?</p>
			</div>
			<div class="button-space">
				<CTAButton href="/roadmap" text="explore" />
			</div>
		</div>
	</roadmap>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
		max-width: 760px;
		margin: auto;
	}
	.link-container {
		padding-bottom: 4rem;
		max-width: calc(100% - 2rem);
		margin: auto;
	}
	roadmap {
		padding: 4rem 0;
		background: #eee8d5;
		color: #268bd2;
		text-align: center;
		display: block;
	}
	roadmap .content {
		margin: auto;
		font-size: x-large;
		max-width: calc(100% - 2rem);
	}
	roadmap .text-space {
		margin: auto;
	}
	roadmap .button-space {
		align-content: center;
		margin: auto;
	}
	roadmap h2 {
		font-size: 3rem;
		margin: 0;
	}

	@media screen and (min-width: 636px) {
		roadmap {
			padding: 4rem 0;
			background: #eee8d5;
			color: #268bd2;
			display: flex;
			width: 100%;
			text-align: left;
		}
		roadmap .content {
			margin: auto;
			font-size: x-large;
			width: 1060px;
			display: flex;
		}
		roadmap .text-space {
			margin: auto;
		}
		roadmap .button-space {
		}
	}
</style>
