---
---
<div class="nav-links">
	<a href="/about"> About </a>
	<div class="nav-seperator">|</div>
	<a href="/blog"> Blog </a>
	<div class="nav-seperator">|</div>
	<a href="/tutorials"> Tutorials </a>
	<div class="nav-seperator">|</div>
	<a href="/docs"> Docs </a>
	<div class="nav-seperator">|</div>
	<a href="/languages"> Languages </a>
</div>